/**http://nicolasgallagher.com/micro-clearfix-hack/
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/********** MY CSS **********/

body {
	background-color: black;
	text-align: center;				/* centers the nav bar of li elements */
}

/* Solar System Heading */
header h1 {
	font-family: bangers;
	color: white;	
	font-size: 6.4em;
	margin: 10px 0;
}

/* Nav Bar of planet names */
li  {
	display: inline-block;			/* inline-block needed for centering */ 
	list-style: none;
	outline: 1px solid yellow;
}

li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: white;
	font-family: bangers;
	font-size: 2em;
}

/* common rules to make each planet's orbit horizontally centered on screen */
.orbit {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	border: 1px solid white;
	border-radius: 50%;
}

/*  orbit for mercury */
.mercury {
	width: 100px;
	height: 100px;
	top: 700px;
}

/* circle to represent the planet*/ 
.planet-mercury {
	width: 12px;
	height: 12px;
	background-color: #818E99;
	border-radius: 10px;
	position: absolute;
	left: 44px;
	top: 44px;
	-webkit-animation: mercury 5s infinite linear;
	animation: mercury 5s infinite linear;
}

.sun {
	width: 60px;
	height: 60px;
	background-color: #DBCD07;
	border-radius: 50%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 720px;
	box-shadow: 0px 0px 30px #FFD630;
}

.venus {
	width: 200px;
	height: 200px;
	top: 650px;
}

.planet-venus {
	width: 30px;
	height: 30px;
	background-color: #E0D758;
	border-radius: 20px;
	position: absolute;
	left: 85px;
	top: 85px;
	-webkit-animation: venus 8s infinite linear;	
	animation: venus 8s infinite linear;	
}

.earth {
	width: 300px;
	height: 300px;
	top: 600px;	
}

.planet-earth {
	width: 30px;
	height: 30px;
	background-color: #14B514;
	border-radius: 20px;
	position: absolute;
	left: 135px;
	top: 135px;
	-webkit-animation: earth 11s infinite linear;
	animation: earth 11s infinite linear;
}

.earth-moon {
	width: 8px;
	height: 8px;
	background-color: #B3B3B3;
	border-radius: 50%;
	position: absolute;
	left: 11px;
	top: 11px;
	-webkit-animation: moon 3s infinite linear;		
	animation: moon 3s infinite linear;		
}

.mars {
	width: 400px;
	height: 400px;
	top: 550px;	
}

.planet-mars {
	width: 16px;
	height: 16px;
	background-color: #C90C35;
	border-radius: 20px;
	position: absolute;
	left: 192px;
	top: 192px;
	-webkit-animation: mars 14s infinite linear;		
	animation: mars 14s infinite linear;		
}

.jupiter {
	width: 500px;
	height: 500px;
	top: 500px;	
}

.planet-jupiter {
	width: 44px;
	height: 44px;
	background-color: #FA9A00;
	border-radius: 50px;
	position: absolute;
	left: 228px;
	top: 228px;
	-webkit-animation: jupiter 17s infinite linear;		
	animation: jupiter 17s infinite linear;		
}

.saturn {
	width: 600px;
	height: 600px;
	top: 450px;	
}

.planet-saturn {
	width: 40px;
	height: 40px;
	background-color: #A67D1F;
	border-radius: 50px;
	position: absolute;
	left: 275px;
	top: 275px;
	-webkit-animation: saturn 20s infinite linear;		
	animation: saturn 20s infinite linear;
}

.saturn-ring {
	width: 46px;
	height: 10px;
	border: 5px solid #A5A7B5;
	border-top: none;
	border-radius: 20px;
	position: relative;
	top: 12px;
	left: -8px;
}

.uranus {
	width: 700px;
	height: 700px;
	top: 400px;	
}

.planet-uranus {
	width: 34px;
	height: 34px;
	background-color: #47C8D1;
	border-radius: 50px;
	position: absolute;
	left: 333px;
	top: 333px;
	-webkit-animation: uranus 23s infinite linear;		
	animation: uranus 23s infinite linear;		
}

.neptune {
	width: 800px;
	height: 800px;
	top: 350px;	
}

.planet-neptune {
	width: 34px;
	height: 34px;
	background-color: #6FB5ED;
	border-radius: 50px;
	position: absolute;
	left: 383px;
		top: 383px;
	-webkit-animation: neptune 26s infinite linear;		
	animation: neptune 26s infinite linear;		
}

.pluto {
	width: 900px;
	height: 900px;
	margin-bottom: 100px; 
	top: 300px;
}

.planet-pluto {
	width: 10px;
	height: 10px;
	background-color: #D9DCDE;
	border-radius: 50px;
	position: absolute;
	left: 445px;
	top: 445px;
	-webkit-animation: pluto 29s infinite linear;		
	animation: pluto 29s infinite linear;		
}

/* Event handlers for when user hovers over each li element, corresponding orbit will turn red */ 
li:nth-child(2):hover ~ .mercury {
	border: 2px solid red;
}

li:nth-child(3):hover ~ .venus {
	border: 2px solid red;
}

li:nth-child(4):hover ~ .earth {
	border: 2px solid red;
}

li:nth-child(5):hover ~ .mars {
	border: 2px solid red;
}

li:nth-child(6):hover ~ .jupiter {
	border: 2px solid red;
}

li:nth-child(7):hover ~ .saturn {
	border: 2px solid red;
}

li:nth-child(8):hover ~ .uranus {
	border: 2px solid red;
}

li:nth-child(9):hover ~ .neptune {
	border: 2px solid red;
}

li:nth-child(10):hover ~ .pluto {
	border: 2px solid red;
}

/****** key frames ******/
/* for each animation, rotate each planet circle from 0 -> 360 degrees.*/
/* at each degree in rotation, translate in +x direction by however many pixels needed*/
@keyframes mercury {		
	0% {
		transform: rotate(0deg) translateX(50px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(50px) rotate(-360deg);
	}
}

@keyframes venus {
	0% {
		transform: rotate(0deg) translateX(100px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(100px) rotate(-360deg);
	}
}

@keyframes earth {
	0% {
		transform: rotate(0deg) translateX(150px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(150px) rotate(-360deg);
	}
}

@keyframes moon {
	0% {
		transform: rotate(0deg) translateX(25px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(25px) rotate(-360deg);
	}
}

@keyframes mars {
	0% {
		transform: rotate(0deg) translateX(200px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(200px) rotate(-360deg);
	}
}

@keyframes jupiter {
	0% {
		transform: rotate(0deg) translateX(250px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(250px) rotate(-360deg);
	}
}

@keyframes saturn {
	0% {
		transform: rotate(0deg) translateX(300px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(300px) rotate(-360deg);
	}
}

@keyframes uranus {
	0% {
		transform: rotate(0deg) translateX(350px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(350px) rotate(-360deg);
	}
}

@keyframes neptune {
	0% {
		transform: rotate(0deg) translateX(400px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(400px) rotate(-360deg);
	}
}

@keyframes pluto {
	0% {
		transform: rotate(0deg) translateX(450px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(450px) rotate(-360deg);
	}
}

/****** WEBKIT key frames ******/
@-webkit-keyframes mercury {
	0% {
		transform: rotate(0deg) translateX(50px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(50px) rotate(-360deg);
	}
}

@-webkit-keyframes venus {
	0% {
		transform: rotate(0deg) translateX(100px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(100px) rotate(-360deg);
	}
}

@-webkit-keyframes earth {
	0% {
		transform: rotate(0deg) translateX(150px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(150px) rotate(-360deg);
	}
}

@-webkit-keyframes moon {
	0% {
		transform: rotate(0deg) translateX(25px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(25px) rotate(-360deg);
	}
}

@-webkit-keyframes mars {
	0% {
		transform: rotate(0deg) translateX(200px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(200px) rotate(-360deg);
	}
}

@-webkit-keyframes jupiter {
	0% {
		transform: rotate(0deg) translateX(250px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(250px) rotate(-360deg);
	}
}

@-webkit-keyframes saturn {
	0% {
		transform: rotate(0deg) translateX(300px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(300px) rotate(-360deg);
	}
}

@-webkit-keyframes uranus {
	0% {
		transform: rotate(0deg) translateX(350px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(350px) rotate(-360deg);
	}
}

@-webkit-keyframes neptune {
	0% {
		transform: rotate(0deg) translateX(400px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(400px) rotate(-360deg);
	}
}

@-webkit-keyframes pluto {
	0% {
		transform: rotate(0deg) translateX(450px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(450px) rotate(-360deg);
	}
}
